/* Navbar.css */

.navbar {
  background-color: #111;
  color: #e91e63;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color:#e91e63;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #9c9595;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #222;
    position: absolute;
    top: 70px;
    right: 0;
    padding: 1rem;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
